<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle Calculate</title>
  </head>
  <body>
    <h1 style="text-align: center">Circle Calculator</h1>
    <form style="text-align: center" action="/circle" method="post">
      <div style="display: flex; justify-content: center; align-items: center">
        <label for="radius">Enter Radius: </label>
        <input type="text" name="radius" id="radius" required />
      </div>
      <button type="submit">Calculate</button>
    </form>

    <br />
    <br />

    <div style="display: flex; justify-content: center; align-items: center">
      <ul style="list-style-type: none; text-align: center">
        <li><a style="text-decoration: none" href="/">Back to Home </a></li>
      </ul>
    </div>
  </body>
</html>
